{% extends 'base_student.html' %}

{% block content %}
<h2>Submit An Excuse</h2>
<form action="" method="post">
    <label for="seid">Session ID</label>
    <input type="number" name="seid" value="{{ session['seid'] }}">
    <br>
    <label for="excuse">Excuse Message</label>
    <input type="text" name="excuse" maxlength="150">
    <br>
    <input type="submit" value="Submit Excuse">
</form>
<p>
    <div align="left">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <a class="active" href="/student/">Back to all courses</a>
    </div>
</p>
{% endblock %}