{% extends 'base_student.html' %}

{% block content %}

{% if data %}
    <form method="post" action="{{ url_for('student_view_attendance') }}">
        See attendance for your courses:
        <br>
        <select name="cid">
            {% for c in data %}
            <option value="{{ c['cid'] }}">{{ c['name'] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="View Attendance">
    </form>
{% endif %}

    <!-- first show classes that have an available session -->
    {% for n in data %}
        {% if n['active'] == 1 %}

            <h4>{{n['name']}}</h4>

            {% if valid %}
                Successful sign-in!
            {% elif signed_in %}
                You have already signed into the session!
            {% else %}

            <form action="/student/" method="post">
                Sign in now!
                <input type="text" name="secret_code" placeholder="Secret Code">
                <input type="submit" value="Submit">
            </form><br>

                {% if submitted %}
                    {% if not valid %}
                    <font color="red">Invalid Secret Code</font>
                    {% endif %}
                {% endif %}

            {% endif %}

        {% endif %}
    {% endfor %}

    <!-- then show classes that are not ongoing at this time/date -->
    {% for n in data %}
        {% if n['active'] == 0 %}

            <h4>{{n['name']}}</h4>
            No sign-in window available!
            <br>

        {% endif %}
    {% endfor %}

{% endblock %}
