{% extends 'base_student.html' %}
{% block scripts %}

{{super()}}
{% endblock %}
{% block content %}

{% if data %}
    <form method="post" action="{{ url_for('student_view_attendance') }}">
        See attendance for your courses:
        <br>
        <select name="cid">
            {% for c in data %}
            <option value="{{ c['cid'] }}">{{ c['name'] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="View Attendance">
    </form>
{% else %}
    <h4>You are not registered for any courses.</h4>
{% endif %}
    <br><br><br>
    <!-- Showing all of the Student's classes on this page. 3 cases: -->
    {% for n in data %}
	   <table class="table1" width="600px">
	     <!-- Window open. Student has not signed in before. -->
         {% if n['window_open'] == True and n['signed_in'] == False %}
 		 	<tr>
             	<td align="center" valign="baseline" width="400px"><b><font size="6" >{{n['name']}}</font></b></td>
 				<td align="left" valign="bottom">
                 <form id="secretsignin" action="/student/" method="post">
                     Sign in now!
                     <input required id="unis" type="text" name="secret_code" placeholder="Secret Code">
                     <input type="hidden" value="{{n['cid']}}" name="cid">
                     <input type="submit" value="Submit">
                 </form>

				{% if submitted %}
                     {% if n['secret_valid'] == False %}
                     <font color="red"><font size="2">Invalid Secret Code</font></font>
                     {% endif %}
                 {% endif %}
			    </td>
 			 </tr>
         {% endif %}
        <!-- Window open or closed. Student has signed in before. -->
        {% if n['signed_in'] == True %}
            <tr>
                <td align="center" valign="baseline"><font size="6" width="100px"> {{n['name']}}</font></td>
                <td align="left" valign="bottom">Successfully signed in to today's session</td>

            </tr>
        {% endif %}
        <!-- Window closed. Student has not signed in before. -->
        {% if n['window_open'] == False and n['signed_in'] == False %}
            <tr>
                 <td align="center" valign="baseline"><font size="6" width="100px"><font size="6">{{n['name']}}</font></td>
                 <td align="left" valign="bottom">No sign-in window available.</td>

            </tr>
        {% endif %}
		</table><br>
    {% endfor %}
    <script>
    $(document).ready(function(){
        $('#secretsignin').submit(function(e)
        {
            regx = /[^0-9]*/gi;
            secret = $("input[name=secret_code").val()
            $("input[name=secret_code").val(secret.replace(regx, ''))
            return true;
        });
    });
    </script>


{% endblock %}
