{% extends 'base_student.html' %}

{% block content %}

{% if data %}
    <form method="post" action="{{ url_for('student_view_attendance') }}">
        See attendance for your courses:
        <br>
        <select name="cid">
            {% for c in data %}
            <option value="{{ c['cid'] }}">{{ c['name'] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="View Attendance">
    </form>
{% else %}
    <h4>You are not registered for any courses.</h4>
{% endif %}

    <!-- Showing all of the Student's classes on this page. 3 cases: -->
    {% for n in data %}
        <!-- Window open. Student has not signed in before. -->
        {% if n['window_open'] == True and n['signed_in'] == False %}

            <br><b><font size="7">{{n['name']}}</font></b><br>

            <form action="/student/" method="post">
                Sign in now!
                <input type="text" name="secret_code" placeholder="Secret Code">
                <input type="hidden" value="{{n['cid']}}" name="cid">
                <input type="submit" value="Submit">
            </form><br>

            {% if submitted %}
                {% if n['secret_valid'] == False %}
                <font color="red">Invalid Secret Code</font>
                {% endif %}
            {% endif %}
        
        {% endif %}
        <!-- Window open or closed. Student has signed in before. -->
        {% if n['signed_in'] == True %}
           <br><font size="6"> {{n['name']}}</font><br>
            Successfully signed in to today's session   
        {% endif %}
        <!-- Window closed. Student has not signed in before. -->
        {% if n['window_open'] == False and n['signed_in'] == False %}
            <br><font size="6">{{n['name']}}</font><br>
            No sign-in window available.
        {% endif %}
    {% endfor %}
{% endblock %}
