{% extends 'base_teacher.html' %}

{% block content %}
<center>

    <h3>Class List</h3>

    <table class="table1" cellspacing="10">

        {% for n in data %}
        <tr>
            <td>{{n['name']}}</td>
            <td>|</td>
            <td>
                <form method="POST" action="/teacher/remove_class">
                    <button name="cid" value="{{n['cid']}}">Remove Class
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

</center>
<p>
    <div align="left">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <a class="active" href="/teacher/">Back to all courses</a>
    </div>
</p>
</body>
</html>
{% endblock %}