{% extends 'base_student.html' %}

{% block content %}

{% if courses %}
    <form method="post" action="">
        See attendance for your courses:
        <br>
        <select name="cid">
            {% for c in courses %}
            <option value="{{ c['cid'] }}">{{ c['name'] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="View Attendance">
    </form>
{% endif %}

<br>
<h2>Your Attendance for {{ course_name }}</h2>
<br>

{% if records %}
    {% for date in records %}
        <tr>
            <td align="center">{{ date }}</td>
            <td align="center">{{ records[date][0] }}</td>
            <td>
                {% if records[date][0] == 0 %}
                <a href="{{ url_for('add_excuse', seid=records[date][1]) }}">Submit Excuse</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endif %}
    <p>
    <div align="left">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <a class="active" href="/student/">Back to all courses</a>
    </div>
    </p>
{% endblock %}
