{% extends 'base_student.html' %}

{% block content %}

{% if courses %}
    <form method="post" action="">
        See attendance for your courses:
        <br>
        <select name="cid">
            {% for c in courses %}
            <option value="{{ c['cid'] }}">{{ c['name'] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="View Attendance">
    </form>
{% endif %}

<br>
<h2>Your Attendance for {{ course_name }}</h2>
<br>
{% if records %}
    {% for date in records %}
        <tr>
            <td align="center">{{ date }}</td>
            <td align="center">{{ records[date] }}</td>
        </tr>
    {% endfor %}
{% endif %}

{% endblock %}