<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{course_name}}</title>
    <style>
        .beta table, .beta td, .beta th {
            border: 1px solid black;
        }
        canvas {
            width: 600px;
            height: 400px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
</head>

<body>
    <center>

    <h2>ImHere</h2><br>

    <h3>{{course_name}}</h3>


    <table cellspacing="35">
    <thead>
    <tr>

    <th>
    Add Student to Class:<br>
    <form id="addunis" method="POST" action="/teacher/view_class">
        <textarea required id="unis" name="add_student" placeholder="uni"></textarea>
        <br>
        <input type="file" id="csvFileInput" onchange="handleFiles(this.files, true)" accept=".csv">
        <br>
        <button name="cid" value={{cid}}>add</button>
    </form>
    </th>

    {% if students %}
    <th>
    Del Student from Class:<br>
    <form id="removeunis" method="POST" action="/teacher/view_class">
        <textarea required id="rmunis" name="remove_student" placeholder="uni"></textarea>
        <br>
        <input type="file" id="csvFileInput" onchange="handleFiles(this.files, false)" accept=".csv">
        <br>
        <button name="cid" value={{cid}}>remove</button>
    </form>
    </th>
    {% endif %}

    </tr>
    </thead>
    </table>

    {% if res == -1 %}
        <font color="red">'{{uni}}' is an invalid uni</font>
    {% elif res == -2 %}
        <font color="red">'{{uni}}' is already in the class</font>
    {% elif res == -3 %}
        <font color="red">'{{uni}}' is not in the class to begin with</font>
    {% endif %}

    <br><br>

    {% if students %}
        {% if secret %}
        <font color="red">attendance may be inaccurate due to the open sign-in window</font>
        {% endif %}
    <table cellspacing="5" class="beta" style="border-collapse:collapse">
    <thead>
    <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>UNI</th>
        <th>Attendance</th>
    </tr>
    </thead>

    <!-- students is a list == [<RowProxy>, UNI, num_attendance_records] -->
    {% for student in students %}
    <tr>
        <td align="center">{{student[0]['name']}}</td>
        <td align="center">{{student[0]['email']}}</td>
        <td align="center">{{student[1]}}</td>
        <td align="center">{{student[2]}}/{{num_sessions}}</td>
    </tr>
    {% endfor %}
    </table><br><br>
    {% endif %}



    <a href="/teacher/">Home</a>
    <br>
    <canvas id="graph" width="800" height="400" style='width:75%;height:300px;'></canvas>
    </center>
    <script>
        var add = false;
        function handleFiles(files, bool) {
            add = bool;
          // Check for the various File API support.
          if (window.FileReader) {
              // FileReader are supported.
              getAsText(files[0]);
          } else {
              alert('FileReader are not supported in this browser.');
          }
        }

        function getAsText(fileToRead) {
          var reader = new FileReader();
          // Read file into memory as UTF-8
          reader.readAsText(fileToRead);
          // Handle errors load
          reader.onload = loadHandler;
          reader.onerror = errorHandler;
        }

        function loadHandler(event) {
          var csv = event.target.result;
          processData(csv);
        }

        function processData(csv) {
            var allTextLines = csv.split(/\r\n|\n/);
            var lines = [];
            for (var i=0; i<allTextLines.length; i++) {
                var data = allTextLines[i].split(';');
                    var tarr = [];
                    for (var j=0; j<data.length; j++) {
                        tarr.push(data[j]);
                    }
                    lines.push(tarr);
            }
            first = true;
            lines.forEach(function(line){
                if (add){ textarea = "#unis"}
                else { textarea = "#rmunis"}
                //if(add){
                    if(first){
                        $(textarea).val();
                        first = false;
                    } else {
                        $(textarea).val($(textarea).val() + line + "\n");
                    }
                // } else {
                //     if(first){
                //         $("#rmunis").val();
                //         first = false;
                //     } else {
                //         $("#rmunis").val($("#rmunis").val() + line + "\n");
                //     }
                // }

            })
          //console.log(lines);
        }

        function errorHandler(evt) {
          if(evt.target.error.name == "NotReadableError") {
              alert("Canno't read file !");
          }
        }
        var barData = {
            labels : [{% for label in labels %}
                            "{{label}}",
                            {% endfor %}],
            datasets : [
            {
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
             data : [{% for value in values %}
                          {{value}},
                        {% endfor %}]
            }
            ]
        }
        var graph = document.getElementById("graph").getContext('2d');
        var myGraph = new Chart(graph, {
            type: 'bar',
            data: barData,
            options: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: 'Class Attendance'
                },
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: '% Attendance'
                        },
                        ticks: {
                            min: 0,
                            max: 100,
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Class Date'
                        }
                    }]
                }
            }

        });

        $('#addunis').submit(function()
        {

            regx = /[^a-z0-9\s\n]*/gi;
            $("#unis").val($("#unis").val().replace(regx, ''));
            return true;

        });
        $('#removeunis').submit(function()
        {

            regx = /[^a-z0-9\s\n]*/gi;
            $("#rmunis").val($("#rmunis").val().replace(regx, ''));
            return true;

        });
    </script>

</body>
</html>
